/*初始化  reset*/  
body,button,dd,dl,dt,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,ul{margin:0;padding:0}  
body,button,input{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}  
h1,h2,h3,h4,h5,h6,button,input{font-size:100%}  
ol,ul{list-style:none}  
a{text-decoration:none}  
a:hover{text-decoration:underline}  
fieldset,img{border:0;vertical-align:top;}  
a,button{cursor:pointer;}  
/*清除浮动*/  
.clearfix:before,.clearfix:after {  
	content:"";  
	display:table;  
}  
.clearfix:after{clear:both;}  
.clearfix{  
	*zoom:1;/*IE/7/6*/  
}  
/*normalize.css，以上样式为*/

body,html{
	font-family: 华文幼圆;
	width: 100%;
	min-width: 1600px;
	height: 100%;
	position: absolute;
	font-size:30px; 
	text-align: center;}

	#app,#baohan{
		width: 100%;
		height: 100%;
		position: absolute;

	}



	#sitenav{
		width:100%;
		height: 30px;
		background-color: #f2f2f2;
		position: relative;
		left: 0;
		right: 0;
		margin: auto;
		font-size:15px;
		color:#676767;
	}

	#sitenav a:hover{
		color: #bf0000;

	}


	#sitenav p{
		height: 0;
		width: 350px;
		position: absolute;
		right: 1250px;
		top: 0;
	}

	#Sitenav_ul{
		width: 800px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 300px;
		


	}


	#Sitenav_ul li{
		margin-left: 15px;
		display: inline-block;
	}

	#mainheader{
		width: 1200px;
		height:150px;
		background-color: white;
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		margin: auto;
		

	}
	#headleftlogo{
		width: 200px;
		height: 80%;
		position: absolute;
		left: 0;
		
	}
	
	#headleftlogo #logo{
		width: 100%;
		height: 80%;
		background-color: white;
		font-size: 20px;
		color: red;
		background-image: url(./source/image/mainshow_image/Tmall.png);
		background-size:contain;
	}

	


	#pos_select{
		width: 80px;
		height: 45px;
		position: absolute;
		background-color: white;
		color: #bf0000;
		top: 20px;
		left: 200px;
		z-index: 100;
		border-style: solid;
		border-color: #CBC8C8;
		border-width: 1px;
		font-size: 20px;

		text-align: left;
		padding-left: 10px;
		border-radius: 3px;

		


	}


	#mainheader form{
		position: relative;
		top:10px;
		left: 50px;
		

	}

	#header_form_down_ul{
		height: 15px;
		width: 600px;
		color: #A19D9D;
		position: absolute;
		font-size: 15px;
		text-align: left;
		top: 63px;
		left: 350px;
		z-index: 3;
	}

	
	#header_form_down_ul li{
		display: inline-block;
		border-left-style: solid;
		border-width: 1px;
		border-color: #F0EAEA;
		margin-right: 10px;
		text-indent: 10px;
	}

	#header_form_down_ul li:hover{

		color: #bf0000;
	}

	#header_form_down_ul>li:first-child{
		border-left-style: none;
		text-indent: 0px;
	}
	#mainheader input{
		width: 500px;
		margin: 0;
		border-style: solid;
		border-color: #c40000;
		border-width: 3px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	#mainheader button{
		margin: 0; 
		width:100px;
		height: 50px;
		background-color: #c40000;
		border-style: solid;
		border-top-width: 3px;
		border-bottom-width: 10px;
		border-color: #c40000;
		color: white;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	#Mainheader_nav{
		width: 100%;
		height: 70px;
		position: absolute;
		bottom: 0;

	}
	
	#Mainheader_nav_left{
		width: 202px;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #2f2f2f;
		color: white;
		font-size: 25px;
		text-align: center;
		font-weight: bolder;
		z-index: 10

	}

	#Mainheader_nav__nav{
		width: 800px;
		height: 100%;
		position: absolute;
		bottom: 30px;
		left: 200px;
		background-color: white;;
		
	}

	#Mainheader_nav__nav ul{
		text-align: left;
		font-weight: bolder;
		height: 30px;
		margin-top: 30px;
		


	}
	

	#Mainheader_nav__nav ul li{
		display: inline-block;
		height: 30px;
		text-indent: 30px;
		margin: 35px;
		margin-right: 0px;
		border-left-style: solid;
		border-color: #DFDFDF;
		border-width: 0.5px;
		color: #2f2f2f;
		font-size: 18px;
	}

	#Mainheader_nav__nav ul>li:first-child{
		border-left-style:none;
		text-indent: 0px;

	}

	#Mainheader_nav__nav ul li:hover{
		color: red;
		cursor: pointer;
	}


	#shopcart{

		width: 200px;
		height:50px;
		position: absolute;
		background-color: #bf0000;
		color:white;
		text-indent: 15px;
		text-align: left;
		right: 0;
		bottom: 10px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		font-size: 15px;
	}

	#shopcart span{
		font-size: 25px;
		color: yellow;
	}

	#shopcart:hover{
		width:300px;
		cursor: pointer;
		transition-property: width;
		transition-duration: 0.8s;

	}

	#main{
		width: 1200px;
		height: 8800px;
		
		position: relative;
		top: 150px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 3;

	}

	#mainshow{
		width: 100%;
		height: 600px;
		background-color: white;
		position: relative;
		top: 0;
		border-left-style:solid;
		border-bottom-style:solid;
		border-width: 1px;
		border-color:#E7E6E6;
		margin-bottom: -30px;
		

	}


	#mainshow_ul{
		height: 100%;
		width: 200px;
		position: relative;
		border-width: 0.5px;
		border-right-style: solid;
		border-color: #E0E0E0;

	}

	#mainshow_ul >li:first-child{
		border-top-style: none; 

	}

	#mainshow_ul >li:last-child{

		background-color: #f3f3f3;
		width: 100%;
		margin-left: 0px;
		border-style: none;
		text-indent: 15px;
		height: 15%;
	}

	#mainshow_ul li{
		margin-left: 30px;
		font-size: 20px;
		
		text-align: left;
		height: 14%;
		width: 70%;
		float: left;
		border-top-style: solid; 
		border-top-color: #D4D2D2;
		border-top-width: 0.5px;
		position: relative;
		font-weight: bolder;

	}

	#mainshow_ul >li:hover{
		width: 100%;
		margin-left: 0px;
		text-indent: 15px;
		color: white;
		background-color: #e41a3a;
		cursor: pointer;
		transition-property: width text-indent  margin-left
		background-color;
		transition-duration: 0.5s; 
	}

	#mainshow_ul span{
		position: absolute;
		top: 20px;
	}

	#mainshow_ul >li:last-child:hover{
		background-color: #f3f3f3;
		color: black;
		cursor: default;
	}

	#mainshow_ul  img{
		position: absolute;
		top: 24px;
		left: -25px;
	}

	#mainshow_ul >li:last-child img{
		left: 5px;

	}

	#mainshow_ul >li:last-child p{
		text-indent: 30px;
	}

	#mainshow p{
		width: 100%;
		height: 25%;
		position: absolute;
		bottom: 10px;
		font-size: 15px;
		text-align: left;
		opacity: 0.6;
	}


	#lunbo_main{
		width:799.5px;
		height: 100%;
		position: absolute;
		left: 200px;

		top: 0;


	}

	#lunbo{
		width: 100%;
		height: 50%;
		background-color: #32A04A;
		position: absolute;
		top: 0;
		font-size: 80px;
		
		background-size:cover;
	}


	#Lunbotu_7but{
		width: 500px;
		height: 50px;
		position: absolute;
		right: 0;
		bottom: 10px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

	}

	#Lunbotu_7but div{
		background-color: black;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		font-size: 20px;
		margin:2px;
		color: white;

	}


	#Lunbotu_7but div:hover{
		background-color: #bf0000;
		cursor: pointer;

	}


	#lunbo_down{
		width: 100%;
		height: 50%; 
		position: absolute;
		bottom: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: : center;

	}

	#lunbo_down div{
		width: 33%;
		height: 49%;
		background-color: #B0FAAA;
		position: relative;

	}

	#lunbo_down img{
		width: 100%;
		height: 100%;
		position: relative;
		
	}

	#lunbo_down img:hover{
		width: 110%;
		height: 110%;
		cursor: pointer;	
		z-index: 2;
		transition-property: width height ;
		transition-duration: 0.7s;
	}

	


	#lunbo_right{
		width: 180px;
		height: 100%;
		background-color: #2B6DF6;
		position: absolute;
		right: 0;
		top: 0;


	}

	#mywelfare{
		width:100%;
		height: 40%;
		position: absolute;
		top: 0;
		background-color: #FAFACA; 


	}

	#welfarelogo{
		width:100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		background-color: #F8FEAF;



	}

	#welfarelogo>a:first-child{
		border-left-style: none;
	}
	#welfarelogo a{
		margin-left: 5px;
		margin-right: 5px;
		font-size: 16px;
		color: #979696;

	}

	#welfarelogo a:hover{
		color: #bf0000;
	}

	#mywelfare_header{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 0;
		font-size: 22px;
		color: white;
		background-color: #E3EE0B;
		color: black

	}



	#lunbo_right_1{
		width:100%;
		height: 30%;
		position: absolute;
		top: 40%;
		background-color: #41E455; 

	}

	#lunbo_right_2{
		width:100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		background-color: #E7DA30; 

	}




	#sideleft{
		width: 100px;
		height: 500px;
		background-color: #F43A3A;
		position: fixed;
		top: 200px;
		right: 90%;
		font-size: 20px;
		color: white;
		z-index:10;


	}


	.side_left_item{
		width: 100%;
		height: 10%;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: white;
	}

	.side_left_item:hover{
		background-color: #F70986;
	}

	#sideright{
		width: 30px;
		height: 1080px;
		background-color: black;
		position: fixed;
		top: 0;
		right: 0;
		font-size: 20px;
		color: white;
		z-index: 3;
	}


	#sideright div{
		width: 450%;
		height:30px;
		position: absolute;
		right: 0;
		background-color: transparent;

	}

	#sideright div:hover{
		cursor: pointer;
	}

	#sideright span{
		position: absolute;
		left: 0;
		height: 100%;
		width: 80%;
		background-color: #6A6767;
		font-size: 15px;
		text-align: left;
		text-indent: 20px;
	}

	#sideright img{
		position: absolute;
		width: 30px;
		top: 0;
		right: 0;
		
	}



	

	.show_box{
		width: 100%;
		height: 600px;

		position: relative;
		margin-top: 30px;

	}




	.show_headerr{
		margin-top: 4px;
		width: 100%;
		height: 10%;
		background-color: white;
		position: relative;
		top: 10%;
		font-family: 华文幼圆;
		font-weight: bolder;
		font-size: 20px;
		text-align: left;
		border-bottom-style: solid;



	}

	.show_headerr span{
		height: 25px;
		position: absolute;
		bottom: 5px;

	}

	.show_container{
		width: 100%;
		height: 90%;
		background-color: #C7F864;
		position: relative;
		top: 10%;


	}


	.show_box_left{
		width: 20%;
		height: 100%;
		position: absolute;
		left: 0;
		background-color: #F88D0C;


	}

	.show_box_left_top{
		width: 100%;
		height: 40%;
		position: absolute;
		top: 0;
		background-color: #2EE159;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;


	}

	.showbox_9item{

		width: 28%;
		height: 30%;
		background-color: white;
		border-radius: 50%;

	}

	.showbox_left_img{

		width: 100%;
		height: 60%;
		position: absolute;
		bottom: 0;
		background-color: #F7A2A2;
		left: 0;

	}

	.show_box_main{

		width: 65%;
		height: 100%;
		background-color: #332F2F;
		position: absolute;
		top: 0;
		left: 20%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
	}



	.show_box_main_item{
		width: 24%;
		height: 49%;
		background-color: #F05E25;
		position: relative;

	}

	.show_box_main_item p{

		width: 100%;
		height: 20%;
		position: absolute;
		bottom: 0;
		background-color: #E4BBBB;
		color: white;

	}



	.show_box_right{
		width: 15%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #2C3E56;

	}

	.show_box_right_u{
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: red;

	}

	.show_box_right_d{
		width: 100%;
		height: 50%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: green;
	}


	#Show_box_last{
		width: 100%;
		height: 225px;
		background-color: #CE0BDD;
		position: absolute;
		bottom: 0;
		display:flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;

	}

	.Show_box_last_item{
		width: 18%;
		height: 95%;
		background-color: #F72929;



	}


	footer{

		width: 100%;
		height: 400px;
		position: absolute;
		top: 8980px;
		right: 0;
		left: 0;
		margin: auto;
		background-color: #20B5E7;
		z-index: 1;
	}

	#Footer_up{
		height: 50%;
		width: 100%;
		top: 0;
		background-color: white;
		font-size: 15px;

	}

	#Footer_up_container{
		height: 100%;
		width: 800px;
		left: 0;
		right: 0;
		margin:auto;
		position: absolute;
		display: flex;
		justify-content: flex-end;

	}

	#Footer_up_gwzn{
		width: 120px;
		height: 180px;
		background-color: #D5C5C5;
		margin-right: 50px;

	}

	#Footer_up_shfw{
		width: 120px;
		height: 180px;
		background-color: #A09494;
		margin-right: 50px;

	}

	#Footer_up_zzfw{
		width: 120px;
		height: 180px;
		background-color: #8A8383;
		margin-right: 50px;

	}

	#Footer_up_sjfw{
		width: 120px;
		height: 180px;
		background-color: #312E2E;
	}



	#Footer_down{
		height: 50%;
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: red;
		color: white;

	}

	#Footer_down_main{
		height: 100%;
		width: 1200px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		color: #EAE550;
		border-style: solid;
	}

	#Footer_down_p1{
		width: 100%;
		height: 70px;
		position: relative;
		background-color: black;
		color: white;
		font-size: 30px;

	}

	#Footer_down_p2{
		width: 100%;
		height: 60px;
		position: relative;
		background-color: grey;
		color: white;
		font-size: 15px;

	}